{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sci-Fi Login Form</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body style="background-image: url('{% static 'images/scifi/login.jpg' %}')">
  <div class="login-container">

    <div class="glow-text">Login</div>
    <form class="login-form" method="post">
      {% csrf_token %}
      <div class="input-custom">
        <img src="{% static 'images/scifi/person.svg' %}" alt="mail_icon" class="input-icon">
        <input type="text" id="email" name="email" placeholder=" " required>
        <label for="email">email</label>
        <div class="input-line"></div>
      </div>
      <div class="input-custom">
        <img src="{% static 'images/scifi/person.svg' %}" alt="Password" class="input-icon">
        <input type="password" id="password" name="password" placeholder=" " required>
        <label for="password">Password</label>
        <div class="input-line"></div>
      </div>
      <button type="submit">
        <span>Login</span>
      </button>
    </form>
  </div>
</body>
</html>
